<a href="https://colab.research.google.com/github/manojkhartad/Python-Basics/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
data = 123 #The data is a number 16/11/2022

In [4]:
print(data)

123

In [6]:
a=2**150
print(a)
print(type(a))

1427247692705959881058285969449495136382746624
<class 'int'>

In [8]:
pi=22/7
print(pi)
print(type(pi))

3.142857142857143
<class 'float'>

In [9]:
name='manoj'
print(name)
print(type(name))

manoj
<class 'str'>

In [10]:
first_name="Manoj"
print(first_name)
last_name= "Khartad"
print(last_name)

Manoj
Khartad

In [13]:
first_name= input("First name: ")
last_name= input("Last name: ")

First name: Manoj
Last name: Khartad

In [14]:
c=4+5j # c is complex variable with real component 4 and imaginary component 5
print(c)

(4+5j)

Mathematical Operator

In [16]:
x=11
y=8

In [18]:
z=x+y # addition
print(z)

19

In [19]:
z=x-y # Substraction
print(z)

3

In [20]:
z=x*y #Multiplication
z

88

In [21]:
z=x/y #Division
z

1.375

In [23]:
z=x**y # Exponent
z

214358881

In [25]:
z= x%y # Remainder
z

3

In [29]:
print('\n Division 11/8 = {}'. format(x/y)) # Division of two numbers
print('\n Quotient 11//8={}'. format(x//y)) # Returns the Quotient for the division of two numbers 
print ('\n Remainder 11%8={}'. format(x%y)) # Return the remainder for the division of two numbers

 Division 11/8 = 1.375

 Quotient 11//8=1

 Remainder 11%8=3

Inplace Operator

In [30]:
data = 2

In [33]:

data += 3 # this is same as data + 3
print (data)

5

In [38]:
my_string ='Python Language'
print (my_string)

print(my_string[0])

print(my_string[0:3]) #Prints the character from position 0 to 2 

print(my_string[-3:-1]) #Prints the character from position 0 to 2 in reverse order except the character at position 0

print(my_string[-3:]) #

print(my_string[:])

Python Language
P
Pyt
ag
age
Python Language

In [42]:
str ='Manoj\'s city is Pune'
print(str)

Manoj's city is Pune

In [43]:
str ="Manoj's city is Pune"
print(str)

Manoj's city is Pune

In [46]:
string ="Python is \"Exciting\""
print (string)

Python is "Exciting"

String Concatination

In [47]:
str = "Hello" + "World"
print (str)

HelloWorld

In [48]:
str ="Hello " + "World"
print (str)

Hello World